:root {
  --body-margin: 10px;
}
body {
  margin: var(--body-margin);
}
/* #root {
  height: 100vh;
} */

/*Main page css*/
.HomepageGreeting {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  /* width: 100%; */
  /* background-color: #535353; */
  /* color: white; */
  /* font-size: 2rem;
  font-weight: 700;
  text-align: center; */
  /* padding-top: 700px; */
  /* margin: 0px;
  margin: auto;
  width: 60%; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */
  /* height: 500px; */
  /* position: relative; */
  /* border: 3px solid green;  */
  background-color: #6d6d6c;
}

.HomepageGreeting > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside {
    flex: 1 auto;
  }
}

.HomeGreeting {
  display: flex;
  /* flex-flow: row wrap; */
  /*flex-direction: column;
  justify-content: center;*/
  align-items: center;
  /* height: 100vh; */
  /* width: 100%; */
  /* background-color: #535353; */
  /* color: white; */
  /* font-size: 2rem;
  font-weight: 700;*/
  text-align: center;
  /* padding-top: 700px; */
  /* margin: 0px;
  margin: auto;
  width: 60%; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */
  /* margin: 0;
  position: absolute; */
  /* padding-top: 20%; */
  /* left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  /* background-image: url(./shared/images/aboutPageDoc.jpg); */
}

.HomeGreeting {
  padding: 10px;
}

.HomepageGreeting h5 {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  /* width: 100%; */
  /* background-color: #535353; */
  /* color: white; */
  /* font-size: 2rem;
  font-weight: 700;
  text-align: center; */
  /* padding-top: 700px; */
  /* margin: 0px;
  margin: auto;
  width: 60%; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */
  /* margin: 0;
  position: absolute; */
  /* top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* margin-left: 30px; */
  margin-right: 30px;
}

.btn-sm {
  margin-left: 2px;
}

.btn {
  margin-left: 2px;
}

.btnCalDate {
  padding-top: 2px;
  padding-bottom: 2px;
}

.aboutPage1 {
  /* background-color: #6d6d6c; */
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
  /* height: 100%; */
  text-align: left;
  /* background-image: url(./shared/images/aboutPageDoc.jpg); */
}

.aboutPageTitle1 {
  color: white;
  margin-top: 140px;
  margin-bottom: 20px;
  text-align: center;
}
.aboutPageTitle2 {
  color: white;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}
.aboutPageDescription {
  color: white;
  /* margin: 80px 80px 80px 80px; */
}

.aboutPage2 {
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  width: 50%;
  margin-right: 0px;
  padding: 80px;
  /* position: relative; */

  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.aboutPage3 {
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  width: 50%;
  margin-right: 0px;
  /* position: relative; */
  padding: 80px;

  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.About_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.navbar1 {
  width: 100%;
  /* height: 40px; */
  background-color: #535353;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
  padding-top: 0px;
  /* margin-right: 5px; */
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  background: #535353;
  width: 100%;
  height: 40px;
}

.headerItem {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-bottom: 0px;
  height: 40px;
  /* background: #535353; */
}

.headerItem h3 {
  margin-bottom: 0px;

  /* background: #535353; */
}

.h3header {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 5px;
  float: left;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  float: right;
  list-style: none;
  padding-right: 5px;
  margin: 0;
  /* background: #535353; */
  /* color: white; */
}

.navigation .navbar_list {
  text-decoration: none;
  display: block;
  padding-top: 6px;
  padding-right: 8px;
  color: white;
}

.navigation .navbar_list_exit {
  text-decoration: none;
  display: block;
  padding-top: 6px;
  padding-right: 5px;
  padding-left: 5px;
  color: white;
  background-color: red;
  border-radius: 20px;
}

.navigation .navbar_list:hover {
  background: #9cb9da;
}

.navigation .navbar_list:link {
  color: white;
}

/* visited link */
.navigation .navbar_list:visited {
  color: white;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation .navbar_list {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type .navbar_list {
    border-bottom: none;
  }
}

.App_logo {
  animation: App_logo_spin infinite 20s linear;
  pointer-events: none;
  padding: 0px;
  width: 40px;
  height: 40px;
  /* position:absolute; */
}

@keyframes App_logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**/

/*Main page css end*/
/*About Page css*/
.about_grid_container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer";
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  /* repeat(10, 1fr); */
  grid-template-rows: 40px auto;
  /* grid-auto-rows: minmax(10px, auto); */
  column-gap: 0px;
  row-gap: 0px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #efefef;
  padding: 0px;
  height: calc(100vh);
}
.item1About {
  grid-area: header;
  grid-column: 1 / span all;
  background-color: #eeeeee;
  text-align: center;
  vertical-align: middle;
  /* padding: 0px 0; */

  margin: 0px;
  display: flex;
  /* height: 34px; */
}
.item2About {
  grid-area: main;
  grid-column: 1 / span all;
  grid-row: 2 / span all;
  top: 0%;
  bottom: 0%;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #535353;
  padding-left: 1px;
  margin: 0px;
  /* height: calc(100vh - 60px); */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  border-color: white;
}
/*Grid css*/
.grid_container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "menu main main main main main main main"
    "menu footer footer footer footer footer footer footer";
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  /* repeat(10, 1fr); */
  grid-template-rows: 40px auto;
  /* grid-auto-rows: minmax(10px, auto); */
  column-gap: 0px;
  row-gap: 0px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #efefef;
  padding: 0px;
  height: calc(100vh);
}

.item1 {
  grid-area: header;
  grid-column: 1 / span all;
  background-color: #eeeeee;
  text-align: center;
  vertical-align: middle;
  /* padding: 0px 0; */

  margin: 0px;
  display: flex;
  /* height: 34px; */
}

.item2 {
  grid-area: menu;
  grid-row: 2 / span all;
  grid-column: 1 / span 1;
  background-color: #6d6d6c;
  text-align: left;
  padding: 0px;
  margin: 0px;
  /* height: calc(100vh - 60px); */
}
.item3 {
  grid-area: main;
  grid-column: 2 / span all;
  grid-row: 2 / span all;
  top: 0%;
  bottom: 0%;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #efefef;
  padding-left: 1px;
  margin: 0px;
  /* height: calc(100vh - 60px); */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  border-color: white;
}
.item3A {
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  flex-wrap: nowrap;
}

.item3AItem {
  width: 50%;
}

/* Control the left side */
.left {
  left: 0;
}
/* Control the right side */
.right {
  right: 0;
  float: right;
}
.item3A h3 {
  margin-bottom: 0px;
}

.item3C {
  padding-top: 2px;
}

.item3C h3 {
  padding-left: 5px;
  padding-top: 2px;
  font-size: 25px;
}

/* this is the wrapper for the table */
.item3B {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  height: calc(100vh - 80px);
  overflow: auto;
}

.item3C {
  display: flex;
}

.item3_grid_container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer";
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  column-gap: 1px;
  row-gap: 0px;
  background-color: #eeeeee;
  padding: 0px;
  height: calc(100vh - 10px);
}

.item3_grid_item1 {
  grid-area: header;
  grid-row: 1 / span all;
  grid-column: 1 / span all;
  background-color: #eeeeee;
  /* text-align: center;
  vertical-align: middle; */
  /* padding: 0px 0;
  margin: 0px;
  display: flex; */
}

.item3_grid_item2 {
  grid-area: main;
  grid-row: 2 / span all;
  grid-column: 1 / span all;
}

.item3_grid_item3 {
  grid-area: footer;
  grid-row: 3 / span all;
  grid-column: 1 / span all;
  display: flex;
}

#link a:visited {
  color: white;
}
/*Grid css end*/

/*Navbar css*/
.body_navbar {
  display: block;
  margin: 0px;
  font-weight: 200;
  background-color: #6d6d6d;
  padding: 5px 5px;
}

.item2 .body_navbarlist {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px;
  width: auto;
}

.header_bodynavbar {
  height: auto;
  /* width:auto; */
  /* position:absolute; */
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#link a:link a:visited {
  color: white;
}

.navbar_list {
  display: inline;
  margin: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
/*Navbar css end*/

/* .Monday {
  color: #ff0000;
  overflow: auto;
} */

/*table css*/

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* height: 300px; */
  font-size: 14px;
  overflow: auto;
}
.roleItemContainer {
  display: flex;
  width: 100%;
}

.roleItemContainer > .roleItemContainerBox {
  width: 50%;
  margin-left: 2px;
}
.table-striped {
  margin-top: 0px;
  margin-bottom: 0px;
  /* overflow: auto; */
}

.sortdirection {
  margin-left: auto;
}
.parent {
  /* border: 1px solid black; */
  /* margin: 1rem; */
  /* padding: 2rem 2rem; */
  /* text-align: center; */
  display: flex;
}
.child {
  /* display: inline-block; */
  float: right;
  /* text-align: right; */
  /* border: 1px solid red; */
  /* padding: 1rem 1rem; */
  /* vertical-align: middle; */
  margin-left: auto;
}
.aboutChild {
  /* display: inline-block; */
  float: right;
  /* text-align: right; */
  /* border: 1px solid red; */
  /* padding: 1rem 1rem; */
  /* vertical-align: middle; */
  margin-left: auto;
}
.asc {
  /* float: right;  */
  padding-right: "5px";
}

.dsc {
  /* float: right;  */
  padding-right: "5px";
}

#columntable {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 0px;
  padding-left: 2px;
}

#columnName {
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 2px;
  text-align: left;
}
.table td,
.table th {
  border: 0px solid #ddd;
}

thead tr {
  background-color: #6d6d6d;
  font-weight: 40;
  /* margin-left: 1px; */
  /* border-color: white; */
}

tbody tr {
  background-color: #ffffff;
  font-weight: 40;
}

.table tr:nth-child(even) {
  background-color: #ffffff;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  text-align: center;
  background-color: #535353;
  color: white;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 0;
  background-color: #535353;

  /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
}
/*table css end*/

/*Form css*/
.form-grid-container {
  display: grid;
  height: auto;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #efefef;
  padding: 5px;
  border-radius: 5px;
}

.form-grid-container .quickVisit {
  grid-template-columns: auto auto;
}

.form-grid-quickvisit-container {
  display: grid;
  height: auto;
  align-content: space-evenly;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #efefef;
  padding: 5px;
  border-radius: 5px;
}

.div-items {
  width: 100%;
}

.form-grid-container > div {
  background-color: #ffffff;
  text-align: left;
  padding: 20px 5px;
  font-size: 14px;
  border-radius: 10px;
}
/*Form end*/

/*search css*/
.searchLabel {
  margin-left: auto;
  height: 30px;
  border-radius: 5px;
  float: right;
  margin-top: 0px;
}
.patientListHeader {
  margin-top: 3px;
}

.searchInput {
  margin-left: auto;
  height: 30px;
  margin-top: 3px;
  margin-right: 2px;
  border-radius: 5px;
}
/*search css end*/

/*Date picker*/
.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 200px;
  padding-left: 5px;
  height: 40px;
}

/* Start calendar css */
h5 {
  /* background-color: white; */
  margin-bottom: 0px;
}

.createPageHeader {
  background-color: #efefef;
  margin-bottom: 0px;
  margin-top: 3px;
}
.calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* border:1px;
  border-color: #525252; */
}
.calendar-day {
  grid-column-start: 2;
  font-size: 14px;
  background-color: white;
}

.day:hover {
  background-color: white;
}

.calendar-item {
  width: auto;
  /* height: auto; */
  /* max-height: 150; */
  border: 0px;
  /* border-color: #525252; */
  list-style-position: inside;
  /* border-bottom: 1px solid #525252; */
  margin: 0px;
  /* font-size: small; */
  /* height: 100vh; */
  overflow: auto;
  background-color: white;
}

.weekendDay {
  background-color: Red;
}

.calendar-item-monthly {
  width: 220px;
  height: 80px;
  /* max-height: 150; */
  /* border: 0px; */
  /* border-color: #525252; */
  list-style-position: inside;
  /* border-bottom: 1px solid #525252; */
  margin: 0px;
  /* font-size: small; */
  /* height: 100vh; */
}
.visitMonthDayContainer {
  display: flex;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.visitMonthDayContainerItem {
  margin-top: 0;
  margin-right: 2px;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.visitMonthDayContainerItemAction {
  margin-top: 0;
  margin-right: 2px;
  margin-left: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.calendar-item {
  width: auto;
  /* height: auto; */
  /* max-height: 150; */
  border: 0px;
  /* border-color: #525252; */
  list-style-position: inside;
  /* border-bottom: 1px solid #525252; */
  margin: 0px;
  /* font-size: small; */
  /* height: 100vh; */
  list-style: none;
}

.weekday {
  font-size: 14px;
  list-style: none;
  /* background-color: white; */
}

ul {
  list-style-type: none;
}

#calendarDaily {
  width: calc(100vw - 250px);
  padding-left: 0px;
  column-span: all;
  /* text-align: center; */
  /* height: auto; */
  /* max-height: 150; */
  /* border: 5px;
  border-color: #525252;
  list-style-position: inside;
  border-bottom: 1px solid #525252;
  margin: 2px; */
  /* height: 100vh; */
}

/* #calendarDailyDate {

  text-align: center;
  margin-bottom: 0px;
  background-color: var(--grey-background);
} */
.calendarDailyDate {
  margin-bottom: 0px;
  text-align: center;
  background-color: var(--grey-background);
}

.calendarDailyDateHeader {
  margin-bottom: 0px;
  margin-right: 5px;
  float: right;
  margin-left: auto;
  background-color: "#eeeeee";
}
/* #calendarWeekly {
  height: 100vh;
}

#calendarDaily {
  height: 100vh;
} */

.calendar-wrapper {
  width: auto;
  padding-left: 5px;
  /* padding-right: 5px; */
  /* height: auto; */
}
/*column-gap: 1rem;
.weekday {
  background: #eee;
  
}
h1 .calendar {
  text-align: center;
}
ul .calendar {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* li {
  list-style-position:inside;
  border: 1px solid black;
} */
/* container {
  color: #89E894
} */

/* datepicker */
.weekday {
  font-size: 14px;
  background-color: var(--grey-background);
}
.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 200px;
  padding-left: 5px;
  height: 40px;
}

.grid-weeklycalcontainer {
  display: grid;
  grid-template-areas: "main main main main main main main";
  /* grid-template-columns: auto auto auto auto auto auto auto; */
  grid-template-columns: auto 16% 16% 16% 16% 16% auto;
  /* repeat(10, 1fr); minmax(100px, 1fr)) */
  grid-template-rows: repeat(6, auto);

  align-content: space-evenly;

  gap: 2px;
}
.grid-weeklycalcontainer > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #efefef;
  /* text-align: right; */
  padding: 0px 0;
  font-size: 30px;
}
/* padding: 10px; height: 400px; 
background-color: #2196F3; 
.grid-weeklycalcontainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/

/* VisitListWeekly {
  font-size: smaller;
} */
.fa-trash {
  padding-left: 5px;
}
.weeklytd {
  font-size: 12px;
  /* width: justify; */
  /* height:fit-content; */
  /* overflow: hidden; */
  display: inline-flex;
  /* white-space: nowrap; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  /* margin-right: 5px; */
  /* padding: 0px; */
  /* justify-content: space-between; */
  border-bottom-width: 0px;
  background-color: #ffffff;
  /* float: right; */
}

.monthlytd {
  font-size: 10px;
  width: auto;
  /* height:fit-content; */
  /* overflow: hidden; */
  display: inline-flex;
  /* white-space: nowrap; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  /* margin-right: 5px; */
  /* padding: 0px; */
  /* justify-content: space-between; */
  border-bottom-width: 0px;
  /* background-color: white; */
  /* float: right; */
}

/* table styles */
.table .table-striped {
  /* background-color: #fff;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed; */
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: auto;
}
/* tbody tr {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
} */
.trStyles {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  overflow: auto;
  /* align-content: space-between; */

  /* display: flex; */
}

.weekdaydateItem {
  /* float: "right"; */
  margin-right: "10px";
}

/*dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #535353;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Patient Details Page*/

.patientDetails {
  display: flex;
  width: 60%;
  background-color: #eeee;
  padding-left: 5px;
  border-radius: 5px;
}
.patientDetailsDemographics {
  width: 30%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.printDetails {
  float: right;
}

/* direction arrows */
.directionArrows {
  padding-left: 15px;
  padding-top: 5px;
  width: 40px;
  height: 30px;
}

.directionArrows:hover {
  height: 40px;
  width: 50px;
}

/* code for test calendar */

:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
  --grey-background: #b9b9b9;

  --grid-column-start: 1;
}

/* html {
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-size: 125%;
line-height: 1.4;
font-weight: 400;
color: var(--blue-grey-900);
} */

/* body {
min-height: 100vh;
background: var(--blue-grey-100);
} */

main {
  max-width: max-content;
  margin: 3em auto 0 auto;
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid var(--blue-grey-200);
  border-radius: 8px;
}

/* // For the month */
.month-indicator {
  color: var(--blue-grey-700);
  /* text-align: left; */
  font-weight: 500;
  display: flex;
}
.month-name {
  width: fit-content;
}
/* // CSS grid used for the dates */
.day-of-week,
.date-grid {
  display: flex;
  grid-template-columns: repeat(7, 1fr);
}

/* // Styles for the weekday/weekend header */
.day-of-week {
  margin-top: 1.25em;
}

/* .day-of-week > * {
font-size: 0.7em;
color: var(--blue-grey-600);
font-weight: 500;
letter-spacing: 0.1em;
font-variant: small-caps;
text-align: center;
} */

/* Dates */
.date-grid {
  margin-top: 0.5em;
}

/* Positioning the first day */
.date-grid div:first-child {
  grid-column: 6;
}

/* // Style for each day */
.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-600);
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: var(--teal-100);
  color: var(--teal-900);
}

/* end of code for test calendar */

.grid_calendar {
  /* display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "main main main main main main main main";
    
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  /* repeat(10, 1fr); */
  /* grid-template-rows: 40px auto; */
  /* grid-auto-rows: minmax(10px, auto); */
  /* column-gap: 0px;
  row-gap: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;*/
  height: 100%;
  grid-template-areas:
    "header header header header header header header"
    "main main main main main main main";
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-columns: 50px repeat(auto-fit, minmax(calc((100% - 100px)/5), 1fr)) 50px; */
  grid-template-rows: repeat(2, auto);
  gap: 0px;
}
.itemCalendar1 {
  grid-area: header;
  grid-column: 1 / span all;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  /* padding: 0px 0; */
  margin: 0px;
  /* display: flex; */
  /* height: 34px; */
  display: flex;
}

.itemCalendar2 {
  grid-area: main;
  grid-row: 2 / span all;
  grid-column: 1 / span all;
  /* background-color: #6d6d6c; */
  text-align: left;
  padding: 0px;
  margin: 0px;
  /* height: calc(100vh - 60px); */
}
.weekDayTitleParent {
  background-color: white;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-columns:
    80px repeat(auto-fit, minmax(calc((100% - 100px) / 6), 1fr))
    80px;
  gap: 1px;
}
.weekDayTitleChild {
  margin-top: 0px;
  background-color: #b4b4b4ee;
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}
.monthDayTitleParent {
  background-color: #eeee;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-columns:
    80px repeat(auto-fit, minmax(calc((100% - 100px) / 6), 1fr))
    80px;
  grid-template-rows: repeat(6, 131px);
  /* grid-template-rows: repeat(auto-fill, 120px); */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
  gap: 1px;
  /* overflow: auto; */
}
.monthDayTitleChild {
  color: var(--blue-grey-600);
  background-color: white;
  width: 100%;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: auto;
}

/* Positioning the first day */
.monthDayTitleParent div:first-child {
  /* grid-column: 6; */
  grid-column: var(--grid-column-start, 0);
}

/* .btn .btn-info .btn-sm .btnCalendarDate #day1 {
    font-size: 5px;
  }

  span {
    font-size: 5px;
  } */

/*filter css*/

.filter-container {
  background-color: #ffffff;
  padding: 1px;
  margin: 1px;
  height: 100%;
  border-radius: 5px;
  display: inline-flex;
}
.filter {
  background-color: #ffffff;
}

.filter_navbarLeft {
  background-color: #efefef;
  padding-left: 5px;
  width: 20%;
}

.filter_navbarRight {
  background-color: #efefef;
  padding-left: 5px;
  width: 25%;
  margin-left: auto;
  float: right;
}

.filter_navbarlist {
  background-color: #efefef;
  padding: 1px;
  margin: 1px;
  height: 100%;
  width: auto;
  border-radius: 5px;
}

.filter__search-input {
  width: 180px;
  background-color: white;
  border-radius: 5px;
  height: 30px;
  margin-top: 2px;
  margin-left: 2px;
}

.filter__search-label {
  background-color: #efefef;
  color: black;
  font-size: 14px;
  font-style: italic;
  margin-left: 5px;
}

/*role page css*/
.roleCreateBtn {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  /* margin-left: auto; */
  float: right;
  height: 30px;
}

.roleInput {
  margin-bottom: 5px;
}

.createRoleModalBody {
  padding-top: 0px;
  background-color: #ffffff;
}

tfoot > .MuiTableFooter-root {
  background-color: #ffffff;
  margin-bottom: 0px;
  /* margin-top: 20px; */
  column-span: all;
  float: right;
}
.MuiTableCell-footer {
  column-span: all;
  /* float: right; */
}

.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
  background-color: #ffffff;
  /* margin-bottom: 0px; */
  margin-top: 15px;
}

/**/

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside {
    flex: 1 auto;
  }
}

/* Large screens */
/* @media all and (min-width: 800px) { */
/* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
/* .main { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
} */

/**/

/*registration page css*/
.registerBtn {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 10px;
  height: 30px;
  padding-top: 0px;
}

/*Tool TIp CSS*/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*visit modal additional css*/
.addVisitModalBtn {
  margin-left: 300px;
}

/*settings page css*/
.settingsPage {
  display: flex;
}

/*radio css*/
.settingCheckboxContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.settingCheckboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.settingCheckboxCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.settingCheckboxContainer:hover input ~ .settingCheckboxCheckmark {
  background-color: #ccc;
}

/* When the radio is checked, add a blue background */
.settingCheckboxContainer input:checked ~ .settingCheckboxCheckmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (the dot/circle - hidden when not checked) */
.settingCheckboxCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.settingCheckboxContainer input:checked ~ .settingCheckboxCheckmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.settingCheckboxContainer .settingCheckboxCheckmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*checkbox css*/
.scheduleCheckboxContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.scheduleCheckboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.scheduleCheckboxCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.scheduleCheckboxContainer:hover input ~ .scheduleCheckboxCheckmark {
  background-color: #ccc;
}

/* When the radio is checked, add a blue background */
.scheduleCheckboxContainer input:checked ~ .scheduleCheckboxCheckmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (the dot/circle - hidden when not checked) */
.scheduleCheckboxCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.scheduleCheckboxContainer input:checked ~ .scheduleCheckboxCheckmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.scheduleCheckboxContainer .scheduleCheckboxCheckmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 20%;
  background: white;
}
/*Edit registration page css*/

.updateRegistrationGrp{
  /* height: 800px; */
  position: relative;
}
.updateRegistrationBtn {
  /* float: right; */
  /* text-align: left; */
  /* padding-top: 10px; */
  /* bottom: 0px; */
  /* position: absolute; */
  padding: 5px 5px 5px 10px;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  /* background-color: green; */
}

/* show event modal */

.eventInput {
  margin-bottom: 5px;
}