/*Main Page*/
.navbar {
  width: 100%;
  height: 40px;
  background-color: #535353;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar h3 {
  color: white;
  font-size: 20px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.white_btn {
  border: none;
  outline: none;
  padding: 0px;
  background-color: red;
  color: white;
  border-radius: 20px;
  width: 40px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}

.main_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.header_logo {
  float: left;
  width: 75%;
  display: flex;
  padding-top: 0px;
  text-align: center;
}

.App_logo {
  animation: App_logo_spin infinite 20s linear;
  /* max-height: 5vmin;
	min-height: 4vmin; */
  pointer-events: none;
  /* max-width: 100%;
	font-size: 0.5em; */
  /* height: auto;  */
  padding: 2px;
  width: 40px;
  height: 40px;
  /* position:absolute; */
}

@keyframes App_logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Main Page End*/

/*Grid css*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "menu main main main main main main main"
    "footer footer footer footer footer footer footer footer";
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  column-gap: 2px;
  row-gap: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
}

.item1 {
  grid-area: header;
  grid-column: 1 / span all;

  text-align: center;
  vertical-align: middle;
  padding: 0px 0;
  margin: 0px;
  color: white;

  width: 100%;
  height: 40px;
  background-color: #535353;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.item2 {
  grid-area: menu;
  grid-row: 2 / span all;
  background-color: #6d6d6c;
  text-align: left;
  padding: 0px;
  margin: 0px;
  height: calc(100vh - 60px);
}
.item3 {
  grid-area: main;
  grid-column: 2 / span all;
  top: 0%;
  bottom: 0%;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 0;
  margin: 0px;
  height: calc(100vh - 110px);
}
/*Grid End*/

/* table styles */
.table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: normal;
}
.table th {
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  text-align: left;
  /* background-color: #3097cf; */
  background-color: #3097cf ;
  border: 1px solid #ddd;
  /* padding: 8px; */
  font-weight: bold;
  
}
/* .table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: bold;
} */

/* .table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.table tr:hover {
  background-color: #ddd;
}


.table .table-striped {
   background-color: #fff;
	/*border-spacing: 0;*/
  border: 1px solid rgb(75, 74, 74);
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.trStyles {
  /* width: auto; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  /* display: flex; */
}
/* table styles end*/

/*navbar css*/
.body-navbar {
  display: block;
  margin: 0px;
  font-weight: 200;
  background-color: #6d6d6c;
  /* min-width:10%; */
  /* max-width:15%; */
  /* height: 100vh; */
  padding: 5px 5px;
}

.body-navbarlist {
  display: block;
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  background-color: #6d6d6c;
  padding: 0px 0px;
  width: auto;
}

.header-bodynavbar {
  height: auto;
  /* width:auto; */
  /* position:absolute; */
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.body-navbar a:link a:visited {
   color: white;
}

/*navbar css end*/

/*Sign Up css*/
.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #3bb19b;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}

/*Sign Up css end*/