/*Main page css*/
.HomepageGreeting{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  /* width: 100%; */
  /* background-color: #535353; */
  /* color: white; */
  /* font-size: 2rem;
  font-weight: 700;
  text-align: center; */
  /* padding-top: 700px; */
  /* margin: 0px;
  margin: auto;
  width: 60%; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */
  height: 500px;
  position: relative;
  /* border: 3px solid green;  */
}

.HomepageGreeting h1{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  /* width: 100%; */
  /* background-color: #535353; */
  /* color: white; */
  /* font-size: 2rem;
  font-weight: 700;
  text-align: center; */
  /* padding-top: 700px; */
  /* margin: 0px;
  margin: auto;
  width: 60%; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navbar1 {
  width: 100%;
  height: 40px;
  background-color: #535353;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
  padding-top: 0px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  background: #535353;
  width: 100%;
  height: 40px;
}

.headerItem {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  height: 40px;
  /* background: #535353; */
}

.h3 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 5px;
  float: left;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  float: right;
  list-style: none;
  margin: 0;
  /* background: #535353; */
  /* color: white; */
}

.navigation .navbar_list {
  text-decoration: none;
  display: block;
  padding-top: 6px;
  padding-right: 8px;
  color: white;
}

.navigation .navbar_list_exit {
  text-decoration: none;
  display: block;
  padding-top: 6px;
  padding-right: 5px;
  padding-left: 5px;
  color: white;
  background-color: red;
}

.navigation .navbar_list:hover {
  background: #9cb9da;
}

.navigation .navbar_list:link {
  color: white;
}

/* visited link */
.navigation .navbar_list:visited {
  color: white;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation .navbar_list {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type .navbar_list {
    border-bottom: none;
  }
}

.App_logo {
  animation: App_logo_spin infinite 20s linear;
  pointer-events: none;
  padding: 0px;
  width: 40px;
  height: 40px;
  /* position:absolute; */
}

@keyframes App_logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Main page css end*/

/*Grid css*/
.grid_container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "menu main main main main main main main"
    "menu footer footer footer footer footer footer footer";
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  /* repeat(10, 1fr); */
  /* grid-template-rows:  repeat(3,auto); */
  /* grid-auto-rows: minmax(10px, auto); */
  column-gap: 2px;
  row-gap: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  /* height: 100vh;  */
}

.item1 {
  grid-area: header;
  grid-column: 1 / span all;
  background-color: #eeeeee;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0;
  margin: 0px;
  display: flex;
}

.item2 {
  grid-area: menu;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  background-color: #6d6d6c;
  text-align: left;
  padding: 0px;
  margin: 0px;
  height: calc(100vh - 60px);
}
.item3 {
  grid-area: main;
  grid-column: 2 / span all;
  top: 0%;
  bottom: 0%;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 0;
  margin: 0px;
  height: calc(100vh - 110px);
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.item3A {
display: flex;
}

.item3A h3 {
  margin-bottom: 0px;
  }
  
#link a:visited {
  color: white;
}
/*Grid css end*/

/*Navbar css*/
.body_navbar {
  display: block;
  margin: 0px;
  font-weight: 200;
  background-color: #6d6d6d;
  padding: 5px 5px;
}

.item2 .body_navbarlist {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px;
  width: auto;
}

.header_bodynavbar {
  height: auto;
  /* width:auto; */
  /* position:absolute; */
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#link a:link a:visited {
  color: white;
}

.navbar_list {
  display: inline;
  margin: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
/*Navbar css end*/

/*table css*/

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.table-striped {
  
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.sortdirection {
  margin-left: auto;
}
.parent {
  /* border: 1px solid black; */
  /* margin: 1rem; */
  /* padding: 2rem 2rem; */
  /* text-align: center; */
  display: flex;
}
.child {
  display: inline-block;
  /* text-align: center; */
  /* border: 1px solid red; */
  /* padding: 1rem 1rem; */
  /* vertical-align: middle; */
  /* margin-left: auto; */
}

.asc {
  /* float: right;  */
  padding-right: '5px';
}

.dsc {
  /* float: right;  */
  padding-right: '5px';
}
#columnName {
  /* display: flex; */
  flex-direction: row;
}

#columntable {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0px;
    padding-left: 2px;
}

#columnName {
  padding-top: 2px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 2px;
}
.table td,
.table th {
  border: 1px solid #ddd;
  
}

thead tr {
  background-color: #6d6d6d;
  font-weight: 100;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  text-align: center;
  background-color: #535353;
  color: white;
}
/*table css end*/

/*Form css*/
.form-grid-container {
  display: grid;
  height: auto;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #6d6d6d;
  padding: 5px;
  border-radius: 5px;
}

.form-grid-container > div {
  background-color: #ffffffcc;
  text-align: left;
  padding: 20px 5px;
  font-size: 14px;
  border-radius: 10px;
}
/*Form end*/

/*search css*/
.searchLabel {
  
    margin-left: auto;

}
/*search css end*/